::-webkit-scrollbar {
  width: 7px !important;
  border-radius: 25px !important;
  background-color: rgb(25, 27, 30);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to right,
    #f7b538,
    #f29e2f,
    #eb872b,
    #e26f29,
    #d8572a
  ) !important;
  border-radius: 25px !important;
}
