::-webkit-scrollbar {
  width: 8px !important;
  border-radius: 25px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(252, 204, 1, 0.9) !important;
  border-radius: 25px !important;
}
